/* General */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
/* ==========================================================================
   SHARED_STYLES
   ========================================================================== */
.max-width {
  max-width: 1500px;
  margin: 0 auto;
}
.theme-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
img {
  width: 100%;
}
li {
  list-style: none;
}

i {
  font-size: larger;
}
.section-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}
.color-light-gray {
  color: #534c64;
}
.btn-primary {
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 48px;
  color: rgba(255, 255, 255, 1);
  background: #ff42a5;
  padding: 20px 40px;
  text-transform: uppercase;
}
/* nav_styles */
.menu-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.logo-container {
  display: flex;
}
.logo-img {
  margin-right: 20px;
}
.logo-title {
  font-size: 2.8rem;
}
.logo-title span {
  color: #f948b2;
}
.menu-items {
  display: flex;
  align-items: center;
}
.menu-items li,
.menu-items div {
  margin-left: 30px;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}

.follow-links {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 20px;
}
.padding30 {
  padding: 30px;
}
/* main_styles */

/* sign-in_styles */

.sign-in-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
}
.sign-in-container span {
  font-size: 5.9375rem;
  font-weight: 800;
}

.color-light-gray > li {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 15px;
}

.sign-in-btn {
  margin-top: 50px;
}
.sign-in-btn button {
  margin-right: 20px;
}
.btn-secondary {
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 48px;
  color: rgba(255, 255, 255, 1);
  background: #4ec5f7;
  padding: 20px 40px;
  text-transform: uppercase;
}

/* funny_videos_styles */
.funny-videos-container {
  text-align: center;
  margin-top: 120px;
}
.funny-videos-container h1,
.funny-videos-container p {
  margin-bottom: 30px;
}
.funny-videos-container span {
  font-size: 3rem;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 25px;
}
.card {
  max-width: 340px;
  text-align: left;
}
.card-description {
  font-size: 1.25rem;
  font-weight: 500;
}
/* features_styles */

.features-container {
  display: flex;
  justify-content: center;
  padding: 120px;
  gap: 120px;
}
.features-container .section-title,
.features-container span {
  font-weight: 700;
}
.features-contents {
  text-align: right;
  padding: 100px;
}
.features-contents > p {
  max-width: 500px;
}
.side-img {
  max-width: 50%;
  position: relative;
  top: -250px;
  left: -100px;
}
/* game_category_styles */
.game-categories-container {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 120px 300px;
}
.game-category {
  background: white;
  border-radius: 50px;
  display: flex;
  max-width: 300px;
  align-items: center;
  padding: 10px 0;
  gap: 15px;
}
.game-category img {
  width: 20%;
}
.game-category-title {
  color: #0b0223;
  font-size: 1.25rem;
  font-weight: 600;
}
/* footer_styles */
.footer-contents {
  background: #0b0223;
  padding: 100px 600px;
  text-align: center;
}
.footer-logo {
  display: flex;
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
  justify-content: center;
}
.footer-logo > img {
  max-width: 80px;
}

.footer-options {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
}

.footer-social-icons img {
  max-width: 50px;
  padding: 20px;
}
.footer-terms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.font-weight-500 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

/* ==========================================================================
   media queries styles
   ========================================================================== */

/* small_devices */
@media screen and (max-width: 576px) {
  .menu-items-container,
  .menu-items,
  .features-container {
    flex-direction: column;
  }
  .sign-in-container {
    flex-direction: column-reverse;
    gap: 70px;
  }
  .logo-title {
    font-size: 1.5rem;
  }
  .logo-container {
    width: 50%;
    margin: 0 auto;
  }
  .menu-items {
    margin-top: 40px;
    gap: 40px;
  }
  .sign-in-btn button {
    margin-top: 5px;
  }
  .footer-contents,
  .features-container {
    padding: 0;
  }
  .features-contents {
    text-align: center;
    padding: 20px;
  }
  .side-img {
    top: -150px;
    left: -50px;
  }
  .footer-options {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .footer-terms {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

/* medium and larger_devices */

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .menu-items-container,
  .menu-items,
  .features-container {
    flex-direction: column;
  }
  .sign-in-container {
    flex-direction: column-reverse;
    gap: 70px;
  }
  .logo-container {
    width: 40%;
    margin: 0 auto;
  }
  .menu-items {
    margin-top: 40px;
    gap: 40px;
  }
  .features-contents {
    text-align: center;
  }
  .features-contents > p {
    max-width: 100%;
  }
  .footer-contents,
  .features-contents {
    padding: 0;
  }
}
